name: Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    name: PHPUnit
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          coverage: none
          ini-values: memory_limit=-1
          extensions: curl, dom, fileinfo, mbstring, openssl, pdo_sqlite, sqlite3

      - name: Validate composer files
        run: composer validate --ansi

      - name: Install dependencies
        run: composer install --ansi --no-interaction --no-progress --prefer-dist

      - name: Run PHPUnit
        run: composer test
